<div class="main-layout">
  <aside class="sidebar">
    <div class="sidebar-title">Réclamations</div>
    <nav class="sidebar-nav">
      <a routerLink="/clients" routerLinkActive="active"><span class="icon">👤</span> Clients</a>
      <a routerLink="/reclamations" routerLinkActive="active"><span class="icon">📄</span> Réclamations</a>
      <a routerLink="/agents" routerLinkActive="active"><span class="icon">🛠️</span> Agents SAV</a>
      <a routerLink="/suivis" routerLinkActive="active"><span class="icon">🔎</span> Suivis</a>
    </nav>
  </aside>
  <section class="content">
    <div class="content-inner">
      <router-outlet></router-outlet>
    </div>
  </section>
</div>
